body {
  background-color: #fff;
}

.device-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device-look {
  width: 375px;
  height: 667px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px 5px 50px 5px;
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 114px;
  height: 48px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 90px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #28352f;
  margin: 10px 12px;
  text-align: center;
}

.menu-button {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

.menu-anchor {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  width: 100%;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #172b4d;
  text-align: center;
  margin: 0 24px;
}

.subtitle {
  color: #36b37e;
}

.supporting-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #172b4d;
  text-align: center;
  margin: 55px 24px;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.info-button {
  display: flex;
  justify-content: center;
  align-self: stretch;
  margin: 0 24px;
}

.info-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.arrow-container {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
